{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LockerRoom{% endblock %}</title>

    <!-- Agregar Bootstrap desde archivos estáticos -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Barra de navegación -->
        <a class="navbar-brand" href="{% url 'home' %}">LockerRoom</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'casilleros_list' %}">Mis Casilleros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'estadisticas' %}">Estadísticas</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mi Perfil
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Ver Perfil</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Registrarse</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <!-- Agregar los scripts de Bootstrap desde archivos estáticos -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>
</html>
